# --- VISUAL STUDIO & BACKEND ---
**/bin/
**/obj/
.vs/
*.user
*.suo

# --- REACT & WEB ---
**/node_modules/
**/build/
**/dist/
.env
.env.local

# --- FLUTTER & MOBILE ---
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/
**/build/